@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 40px;
}

 /* --------- department museum header ------------- */

.deptOfMuseum{
    background-color: black;
    height: 90px;
    width: 100%;
}

.deptOfMuseum_container{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deptOfMuseum_left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.deptOfMuseum_left--content{
    font-weight: 400;
    font-size: 1.2em;
    color: #fff;
    margin: 5px;
}
.deptOfMuseum_left--content > h4{
    font-weight: 300;
    font-size: 0.8em;
}

.deptOfMuseum_right{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
}

.deptOfMuseum_right > i{
    margin: 3px;
    padding: 2px;
}

.deptOfMuseum_right > h5{
    font-weight: 400;
}

 /* --------- navigation ------------- */


.nav_container{
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.nav_container > img{
    width: 90px;
    height: 40px;
}

.nav_container.sticky{
    top: 0px;
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2)
}

.nav_container ul {
    position: relative;
    display: flex;
}

.nav_container ul li {
    position: relative;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    padding: 8px;
    text-align: center;
}

.nav_container.sticky ul li {
    color: #000;
    padding: 8px;
}

.nav_container.sticky ul li.login{
    color: #fff;
}

.nav_container.sticky ul li.login-out{
    color: #fff;
}

.nav_container.sticky ul li.login:hover{
    color: #2196F3;
}

.link:hover{
    color: rgba(15, 145, 15, 0.774);
}


.link:active{
    border-bottom: 1.5px solid #000;
}



 /* --------- carousel ------------- */
.carousel-container img{
    width: 100vw;
    height: 600px;
    object-fit: cover;
    margin-top: 110px;
}

.carousel-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-content-title{
    position: absolute;
    padding: 10px;
    bottom: 0px;
    font-size: 2em;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}


/* --------- copyright ------------- */

.copyright{
    background: #111e25;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 120px;
}

.copyright > i{
    width: 50px;
    margin: 10px 20px;
    font-size: 2em;
    padding: 5px;
}

.copyright > i:hover{
    border: 1px solid #fff;
    border-radius: 8px;
}

.copyright > hr{
    border: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.copyright > p {
    margin: 5px;
}

/* --------- about ------------- */
.about{
    margin-top: 140px;
}
.about-container{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skewBox{
    position: relative;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    margin: 50px;
}

.about-left{
    display: flex;
}

.about-left img{
    max-width: 500px;
    max-height: 800px;
    clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
    transition: max-width 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.about-right{
    padding: 15px;
    margin: 10px;
    max-width: 800px;
}

.about-right h3{
    color: #f37934;
    margin: 20px 0;
    font-size: 1.5em;
}

.btn {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    border: 1px solid #f37934;
    background: none;
    color: #f37934;
    margin: 30px 0;
    font-size: 1em;
    transition: 0.3s;
}

.btn:hover{
    border: 1px solid #fff;
    background: #fcb78fc9;
    color: #fff;
}

/* --------- timing ------------- */
.open-detail{
    width: 100%;
    height: 600px;
    padding: 20px;
}
.timing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.timing-table{
    display: flex;
}

.visit-time{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.visit-svg img{
    width: 900px;
    position: absolute;
    left: -220px;
}

.visit-contain{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 500px;
    border: 6px solid #4742a5;
    position: absolute;
    top: 120px;
    right: 0px;
    background: #fff;
    border-radius: 8px;
    animation: action 1s infinite  alternate;
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-8px); }
}

.visit-cards{
    display: flex;
    margin: 10px;
}
.visit-cards > h4 {
    padding: 10px;
    margin: 10px;
}
.visit-card-rt{
    padding: 10px;
    margin: 10px;
}

.onVisit{
    color:  #6C63FF;
    font-size: 1.2em;
}

.offVisit {
    color: #e03c27;
    font-size: 1.2em;
}

.entry-charge{
    height: 720px;
    width: 100%;
    margin: 120px 50px 50px 0;
    padding: 0 120px;
    position: relative;
}

.pay-svg{
    position: absolute;
    width: 400px;
    top: -20px;
    left: 300px;
    height: 600px;
    z-index: -999;
    transition: left 0.5s ease-in-out;
}

.timing-right{
    border: 6px solid #4742a5;
    position: absolute;
    right: 400px;
    top: 90px;
    padding: 30px;
    width: 600px;
    border-radius: 8px;
    background: #fff;
}

.timing-right table{
    top: 400px;
    text-align: left;
    margin: 20px;
    height: 300px;
}

.timing-right td{
    padding: 8px;
}

/* --------- login/register ------------- */

.register{
    border-radius: 50px;
    color: #2196F3;
}

.register:hover{
    color: #2196F3;
    border: 1px solid #2196F3;
}

.login {
    color: white;
    background: #2196F3;
    transition: 0.3s ease-in-out;
    width: 90px;
    border-radius: 30px;
}

.login:hover{
    background: none;
    color: #2196F3;
    border: 1px solid #2196F3;
}

#popup:focus{
    outline: none;
    border-radius: 10px;
}

.login-out{
    background: rgb(243, 88, 88);
    border-radius: 25px;
    color: white;
    border: none;
    width: 120px;
    transition: 0.3s ease-in-out;
}

.login-out:hover{
    color: white;
    border: none;
}

/* --------- login ------------- */

.login-container{
    background: #fff;
    padding: 20px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.login-container > h4{
    font-size: 2em;
    font-weight: 400;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control, .checkbox-control{
    margin: 15px;
}

.checkbox-control label{
    font-size: 1.2em;
    margin: 5px;
}

.login-input-ele{
    width: 280px;
}

.btn-login{
    width: 180px;
    background: none;
    border: 0;
    color: #000;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.login-btn{
    width: 260px;
    height: 40px;
    border-radius: 0;
    font-size: 1.2em;
}

.btn-login:hover{
    background:#141c2c;
    color: #fff;
}


/* --------- booking ------------- */
.bookingTable table {
    margin: 10px;
    padding: 5px;
    border-collapse: collapse;
    width: 100%;
}

.bookingTable th, td {
    text-align: left;
    padding: 8px;
}

.bookingTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.booking-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.booking-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    width: 450px;
    height: 400px;
    border-radius: 25px;
}

.booking-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-elements-input{
    width: 240px;
    margin: 20px;
    padding:5px;
    background: #fff;
}

.book-elements-date{
    width: 240px;
    height: 50px;
    border: 0;
    border: 1px solid #79797954;
    border-radius: 8px;
    margin: 20px;
    padding:10px;
    font-size: 1em;
}

.book-elements-select{
    width: 240px;
    height: 30px;
    margin: 20px 10px 20px 10px;
}

.book-title{
    margin: 100px 220px 40px 320px;
    padding: 5px;
    font-weight: 400;
    font-size: 1.5em;
}
.app-bar-contain{
    display: none;
}

.book-btn{
    width: 240px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 0;
}

/* -------------app bar---------------- */

.burger-menu{
    position: fixed;
    right: 0;
    top: 100px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s ease-in-out;
}
.burger-menu.sticky{
    position: fixed;
    right: 0;
    top: 10px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
}
.burger-menu >img {
    filter: invert(1)
}
.appBar-drawer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appBar-drawer ul li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    width: 150px;
    margin: 10px;
}

@media(max-width: 1600px){
    .pay-svg{
        left: 20px;
    }
}

@media(max-width: 1200px){
    .app-bar-contain{
        display: block;
        background: #fff;
    }
    .nav_container{
        display: none;
    }
    .about{
        margin-top: 20px;
    }
    .about-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-left img{
        max-width: 450px;
        max-height: 450px;
        clip-path: none;
        transform: none;
    }
    .about-right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timing-table{
        flex-direction: column;
    }
    .booking-container{
        flex-direction: column;
    }
    
    .login{
        color :#fff;
        margin: 0 auto;
    }
    .skewBox{
        flex-direction: column;
        height: auto;
    }
    .visit-contain{
        position: initial;
        width: auto;
    }
    .timing-right{
        position: initial;
        width: auto;
        right: initial;
        padding: 10px;
        border: 0;
    }
    .timing-right table{
        top: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .visit-svg{
        display: none;
    }
    .pay-svg{
        display: none;
    }

    .booking-form{
        width: 350px;
    }

    .book-title{
        margin: 150px 50px 40px 30px;
    }
}
@media (max-width: 600px){
    .header{
        margin: 8px;
        font-size: 40px;
        font-weight: 400;
    }
    .deptOfMuseum_left--content{
        display: none;
    }
    .about-left img{
        max-width: 300px;
        max-height: 300px;
    }
}